.banner-img-crop {
  width: inherit;
  height: 300px;
  overflow: hidden;
  padding-top: -5px;
}

.banner-img {
  display: block;
  width: 100%;
}

.project {
  background-color: white;
  font-family: 'Roboto', 'Times New Roman', Times, serif;
  padding: 10px;
  padding-bottom: 5px;
  margin: 10px;
  margin-left: 0;
  margin-right: 0;
}

.card h1 {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  padding: 0px;
  padding-bottom: 5px;
  margin: 0px;
}

#login {
  font-size: 10px;
  font-style: italic;
}

.comments form {
  font-weight: bold;
}

.required:after {
    color: #a6350c;
    content: '*';
    display:inline;
}