.banner-img-crop {
  width: inherit;
  height: 300px;
  overflow: hidden;
  padding-top: -5px;
}

.banner-img {
  display: block;
  width: 100%;
}

.card {
  background-color: white;
  font-family: 'Roboto', 'Times New Roman', Times, serif;
  padding: 10px;
  padding-bottom: 5px;
  margin: 10px;
}

.card h1 {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 0px;
  padding-bottom: 5px;
  margin: 0px;
}