.banner-img-crop {
  width: inherit;
  height: 300px;
  overflow: hidden;
  padding-top: -5px;
}

.banner-img {
  display: block;
  width: 100%;
}

.project {
  background-color: white;
  font-family: 'Roboto', 'Times New Roman', Times, serif;
  padding: 10px;
  padding-bottom: 5px;
  margin: 10px;
  margin-left: 0;
  margin-right: 0;
}

.project h1 {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  padding: 0px;
  padding-bottom: 5px;
  margin: 0px;
  font-weight: bold;
}

#login {
  font-size: 10px;
  font-style: italic;
}

.comments form {
  font-weight: bold;
}

.required:after {
  color: #a6350c;
  content: '*';
  display:inline;
}

.comment {
  background-color: white;
  font-family: 'Roboto', 'Times New Roman', Times, serif;
  padding: 10px;
  padding-bottom: 5px;
  margin: 10px;
  margin-left: 0;
  margin-right: 0;
}

#compose-comment {
  background-color: white;
  font-family: 'Roboto', 'Times New Roman', Times, serif;
  padding: 10px;
  padding-bottom: 5px;
  margin: 10px;
  margin-left: 0;
  margin-right: 0;
}

.comment-img-crop {
  width: inherit;
  height: 100px;
  overflow: hidden;
  padding-top: -5px;
}

.comment-img-crop:hover {
  overflow: visible;
  height: 100%;
}

.username {
  font-weight: bolder;
  font-size: 25px;
}

.date {
  font-style: italic;
}